    /*
    Flaticon icon font: Flaticon
    Creation date: 10/12/2016 18:27
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alert-error-fill:before { content: "\f100"; }
.flaticon-alert-error-line:before { content: "\f101"; }
.flaticon-alert-exclaim-fill:before { content: "\f102"; }
.flaticon-alert-exclaim-line:before { content: "\f103"; }
.flaticon-alert-info-fill:before { content: "\f104"; }
.flaticon-alert-info-line:before { content: "\f105"; }
.flaticon-alert-question-fill:before { content: "\f106"; }
.flaticon-alert-question-line:before { content: "\f107"; }
.flaticon-angle-down:before { content: "\f108"; }
.flaticon-angle-left:before { content: "\f109"; }
.flaticon-angle-right:before { content: "\f10a"; }
.flaticon-angle-up:before { content: "\f10b"; }
.flaticon-arrow-down:before { content: "\f10c"; }
.flaticon-arrow-left:before { content: "\f10d"; }
.flaticon-arrow-right:before { content: "\f10e"; }
.flaticon-arrow-up:before { content: "\f10f"; }
.flaticon-bars-circle:before { content: "\f110"; }
.flaticon-bars-thin:before { content: "\f111"; }
.flaticon-bars-wide:before { content: "\f112"; }
.flaticon-calendar-fill:before { content: "\f113"; }
.flaticon-calendar-line:before { content: "\f114"; }
.flaticon-caret:before { content: "\f115"; }
.flaticon-check-off:before { content: "\f116"; }
.flaticon-check-on:before { content: "\f117"; }
.flaticon-close:before { content: "\f118"; }
.flaticon-delete-fill:before { content: "\f119"; }
.flaticon-delete-line:before { content: "\f11a"; }
.flaticon-dialog-close:before { content: "\f11b"; }
.flaticon-dialog-expand:before { content: "\f11c"; }
.flaticon-dialog-minimize:before { content: "\f11d"; }
.flaticon-dialog-resize:before { content: "\f11e"; }
.flaticon-dialog-restore:before { content: "\f11f"; }
.flaticon-edit-fill:before { content: "\f120"; }
.flaticon-edit-line:before { content: "\f121"; }
.flaticon-error-fill:before { content: "\f122"; }
.flaticon-error-line:before { content: "\f123"; }
.flaticon-overflow-fill:before { content: "\f124"; }
.flaticon-overflow-line:before { content: "\f125"; }
.flaticon-radio-off:before { content: "\f126"; }
.flaticon-radio-on:before { content: "\f127"; }
.flaticon-refresh:before { content: "\f128"; }
.flaticon-search:before { content: "\f129"; }
.flaticon-sort-asc:before { content: "\f12a"; }
.flaticon-sort-desc:before { content: "\f12b"; }
.flaticon-square:before { content: "\f12c"; }
.flaticon-tree-check-off:before { content: "\f12d"; }
.flaticon-tree-check-on:before { content: "\f12e"; }
.flaticon-tree-check-partial:before { content: "\f12f"; }
.flaticon-tree-expand:before { content: "\f130"; }
    
    $font-Flaticon-alert-error-fill: "\f100";
    $font-Flaticon-alert-error-line: "\f101";
    $font-Flaticon-alert-exclaim-fill: "\f102";
    $font-Flaticon-alert-exclaim-line: "\f103";
    $font-Flaticon-alert-info-fill: "\f104";
    $font-Flaticon-alert-info-line: "\f105";
    $font-Flaticon-alert-question-fill: "\f106";
    $font-Flaticon-alert-question-line: "\f107";
    $font-Flaticon-angle-down: "\f108";
    $font-Flaticon-angle-left: "\f109";
    $font-Flaticon-angle-right: "\f10a";
    $font-Flaticon-angle-up: "\f10b";
    $font-Flaticon-arrow-down: "\f10c";
    $font-Flaticon-arrow-left: "\f10d";
    $font-Flaticon-arrow-right: "\f10e";
    $font-Flaticon-arrow-up: "\f10f";
    $font-Flaticon-bars-circle: "\f110";
    $font-Flaticon-bars-thin: "\f111";
    $font-Flaticon-bars-wide: "\f112";
    $font-Flaticon-calendar-fill: "\f113";
    $font-Flaticon-calendar-line: "\f114";
    $font-Flaticon-caret: "\f115";
    $font-Flaticon-check-off: "\f116";
    $font-Flaticon-check-on: "\f117";
    $font-Flaticon-close: "\f118";
    $font-Flaticon-delete-fill: "\f119";
    $font-Flaticon-delete-line: "\f11a";
    $font-Flaticon-dialog-close: "\f11b";
    $font-Flaticon-dialog-expand: "\f11c";
    $font-Flaticon-dialog-minimize: "\f11d";
    $font-Flaticon-dialog-resize: "\f11e";
    $font-Flaticon-dialog-restore: "\f11f";
    $font-Flaticon-edit-fill: "\f120";
    $font-Flaticon-edit-line: "\f121";
    $font-Flaticon-error-fill: "\f122";
    $font-Flaticon-error-line: "\f123";
    $font-Flaticon-overflow-fill: "\f124";
    $font-Flaticon-overflow-line: "\f125";
    $font-Flaticon-radio-off: "\f126";
    $font-Flaticon-radio-on: "\f127";
    $font-Flaticon-refresh: "\f128";
    $font-Flaticon-search: "\f129";
    $font-Flaticon-sort-asc: "\f12a";
    $font-Flaticon-sort-desc: "\f12b";
    $font-Flaticon-square: "\f12c";
    $font-Flaticon-tree-check-off: "\f12d";
    $font-Flaticon-tree-check-on: "\f12e";
    $font-Flaticon-tree-check-partial: "\f12f";
    $font-Flaticon-tree-expand: "\f130";