	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/12/2016 18:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow-down:before { content: "\f100"; }
.flaticon-arrow-left:before { content: "\f101"; }
.flaticon-arrow-right:before { content: "\f102"; }
.flaticon-arrow-up:before { content: "\f103"; }
.flaticon-bars-bold:before { content: "\f104"; }
.flaticon-bars-thin:before { content: "\f105"; }
.flaticon-busy:before { content: "\f106"; }
.flaticon-caret-down:before { content: "\f107"; }
.flaticon-caret-left:before { content: "\f108"; }
.flaticon-caret-right:before { content: "\f109"; }
.flaticon-caret-up:before { content: "\f10a"; }
.flaticon-check-off:before { content: "\f10b"; }
.flaticon-check-on:before { content: "\f10c"; }
.flaticon-chevron-down:before { content: "\f10d"; }
.flaticon-chevron-down-2:before { content: "\f10e"; }
.flaticon-chevron-left:before { content: "\f10f"; }
.flaticon-chevron-left-2:before { content: "\f110"; }
.flaticon-chevron-right:before { content: "\f111"; }
.flaticon-chevron-right-2:before { content: "\f112"; }
.flaticon-chevron-up:before { content: "\f113"; }
.flaticon-chevron-up-2:before { content: "\f114"; }
.flaticon-dialog-close:before { content: "\f115"; }
.flaticon-dialog-expand:before { content: "\f116"; }
.flaticon-dialog-minimize:before { content: "\f117"; }
.flaticon-dialog-resize:before { content: "\f118"; }
.flaticon-dialog-restore:before { content: "\f119"; }
.flaticon-drag-handle:before { content: "\f11a"; }
.flaticon-ellipsis-h:before { content: "\f11b"; }
.flaticon-ellipsis-h-line:before { content: "\f11c"; }
.flaticon-ellipsis-v:before { content: "\f11d"; }
.flaticon-ellipsis-v-line:before { content: "\f11e"; }
.flaticon-external-link:before { content: "\f11f"; }
.flaticon-icon-add:before { content: "\f120"; }
.flaticon-icon-add-line:before { content: "\f121"; }
.flaticon-icon-anchor:before { content: "\f122"; }
.flaticon-icon-anchor-line:before { content: "\f123"; }
.flaticon-icon-bell:before { content: "\f124"; }
.flaticon-icon-bell-line:before { content: "\f125"; }
.flaticon-icon-calendar:before { content: "\f126"; }
.flaticon-icon-calendar-line:before { content: "\f127"; }
.flaticon-icon-clip:before { content: "\f128"; }
.flaticon-icon-clip-line:before { content: "\f129"; }
.flaticon-icon-cog:before { content: "\f12a"; }
.flaticon-icon-cog-line:before { content: "\f12b"; }
.flaticon-icon-comments:before { content: "\f12c"; }
.flaticon-icon-comments-line:before { content: "\f12d"; }
.flaticon-icon-division:before { content: "\f12e"; }
.flaticon-icon-division-line:before { content: "\f12f"; }
.flaticon-icon-download:before { content: "\f130"; }
.flaticon-icon-download-line:before { content: "\f131"; }
.flaticon-icon-edit:before { content: "\f132"; }
.flaticon-icon-edit-line:before { content: "\f133"; }
.flaticon-icon-email:before { content: "\f134"; }
.flaticon-icon-email-line:before { content: "\f135"; }
.flaticon-icon-equal:before { content: "\f136"; }
.flaticon-icon-equal-line:before { content: "\f137"; }
.flaticon-icon-female:before { content: "\f138"; }
.flaticon-icon-female-line:before { content: "\f139"; }
.flaticon-icon-filter:before { content: "\f13a"; }
.flaticon-icon-filter-line:before { content: "\f13b"; }
.flaticon-icon-folder:before { content: "\f13c"; }
.flaticon-icon-folder-line:before { content: "\f13d"; }
.flaticon-icon-folder-open:before { content: "\f13e"; }
.flaticon-icon-folder-open-line:before { content: "\f13f"; }
.flaticon-icon-heart:before { content: "\f140"; }
.flaticon-icon-heart-line:before { content: "\f141"; }
.flaticon-icon-home:before { content: "\f142"; }
.flaticon-icon-home-line:before { content: "\f143"; }
.flaticon-icon-image:before { content: "\f144"; }
.flaticon-icon-image-line:before { content: "\f145"; }
.flaticon-icon-key:before { content: "\f146"; }
.flaticon-icon-key-line:before { content: "\f147"; }
.flaticon-icon-link:before { content: "\f148"; }
.flaticon-icon-link-line:before { content: "\f149"; }
.flaticon-icon-lock:before { content: "\f14a"; }
.flaticon-icon-lock-line:before { content: "\f14b"; }
.flaticon-icon-message:before { content: "\f14c"; }
.flaticon-icon-message-line:before { content: "\f14d"; }
.flaticon-icon-minus:before { content: "\f14e"; }
.flaticon-icon-minus-line:before { content: "\f14f"; }
.flaticon-icon-notify:before { content: "\f150"; }
.flaticon-icon-notify-line:before { content: "\f151"; }
.flaticon-icon-page:before { content: "\f152"; }
.flaticon-icon-page-edit:before { content: "\f153"; }
.flaticon-icon-page-edit-line:before { content: "\f154"; }
.flaticon-icon-page-line:before { content: "\f155"; }
.flaticon-icon-page-search:before { content: "\f156"; }
.flaticon-icon-page-search-line:before { content: "\f157"; }
.flaticon-icon-palette:before { content: "\f158"; }
.flaticon-icon-palette-line:before { content: "\f159"; }
.flaticon-icon-pencil:before { content: "\f15a"; }
.flaticon-icon-pencil-line:before { content: "\f15b"; }
.flaticon-icon-pencil-ruler:before { content: "\f15c"; }
.flaticon-icon-pencil-ruler-line:before { content: "\f15d"; }
.flaticon-icon-phone:before { content: "\f15e"; }
.flaticon-icon-phone-line:before { content: "\f15f"; }
.flaticon-icon-placeholder:before { content: "\f160"; }
.flaticon-icon-placeholder-line:before { content: "\f161"; }
.flaticon-icon-printer:before { content: "\f162"; }
.flaticon-icon-printer-line:before { content: "\f163"; }
.flaticon-icon-reload:before { content: "\f164"; }
.flaticon-icon-reload-left:before { content: "\f165"; }
.flaticon-icon-reload-left-line:before { content: "\f166"; }
.flaticon-icon-reload-line:before { content: "\f167"; }
.flaticon-icon-remove:before { content: "\f168"; }
.flaticon-icon-remove-line:before { content: "\f169"; }
.flaticon-icon-search:before { content: "\f16a"; }
.flaticon-icon-search-line:before { content: "\f16b"; }
.flaticon-icon-search2:before { content: "\f16c"; }
.flaticon-icon-search2-line:before { content: "\f16d"; }
.flaticon-icon-star:before { content: "\f16e"; }
.flaticon-icon-star-line:before { content: "\f16f"; }
.flaticon-icon-tools:before { content: "\f170"; }
.flaticon-icon-tools-line:before { content: "\f171"; }
.flaticon-icon-trash:before { content: "\f172"; }
.flaticon-icon-trash-line:before { content: "\f173"; }
.flaticon-icon-unlock:before { content: "\f174"; }
.flaticon-icon-unlock-line:before { content: "\f175"; }
.flaticon-icon-upload:before { content: "\f176"; }
.flaticon-icon-upload-line:before { content: "\f177"; }
.flaticon-icon-user:before { content: "\f178"; }
.flaticon-icon-user-line:before { content: "\f179"; }
.flaticon-icon-web:before { content: "\f17a"; }
.flaticon-icon-web-line:before { content: "\f17b"; }
.flaticon-invalid-line:before { content: "\f17c"; }
.flaticon-load1:before { content: "\f17d"; }
.flaticon-load2:before { content: "\f17e"; }
.flaticon-load3:before { content: "\f17f"; }
.flaticon-load4:before { content: "\f180"; }
.flaticon-md-bold:before { content: "\f181"; }
.flaticon-md-header:before { content: "\f182"; }
.flaticon-md-help:before { content: "\f183"; }
.flaticon-md-image:before { content: "\f184"; }
.flaticon-md-italic:before { content: "\f185"; }
.flaticon-md-link:before { content: "\f186"; }
.flaticon-md-list:before { content: "\f187"; }
.flaticon-md-number:before { content: "\f188"; }
.flaticon-md-preview:before { content: "\f189"; }
.flaticon-radio-off:before { content: "\f18a"; }
.flaticon-radio-on:before { content: "\f18b"; }
.flaticon-sort-asc:before { content: "\f18c"; }
.flaticon-sort-desc:before { content: "\f18d"; }
.flaticon-symbol-dollar:before { content: "\f18e"; }
.flaticon-symbol-error:before { content: "\f18f"; }
.flaticon-symbol-exclaim:before { content: "\f190"; }
.flaticon-symbol-info:before { content: "\f191"; }
.flaticon-symbol-questions:before { content: "\f192"; }
.flaticon-symbol-warning:before { content: "\f193"; }
.flaticon-tree-check-off:before { content: "\f194"; }
.flaticon-tree-check-on:before { content: "\f195"; }
.flaticon-tree-check-partial:before { content: "\f196"; }
.flaticon-tree-collapse:before { content: "\f197"; }
.flaticon-tree-expand:before { content: "\f198"; }