# Dependency directories
/aurelia_project
/build
/coverage
/custom_typings
/docs
/favicons
/glyphs
/icons
/images
/locales
/scripts
/src
/test
/typings

.sass-cache

.DS_Store

/.editorconfig
/.gitattributes
/.gitignore
/.travis.yml
/gulpfile.js
/index.html
/karma.conf.js
/tsconfig.json
/tslint.json
/typings.json
