# Dependency directories
/api
/aurelia_project
/build
/custom_typings
/docs
/examples
/images
/locales
/styles
/test

/.idea
/.vscode

.sass-cache
.rollupcache
.DS_Store

/.editorconfig
/.gitattributes
/.gitignore
/.prettierrc
/.stylelintrc
/.travis.yml
/express.js
/index.ejs
/Procfile
/rollup.config.js
/webpack.config.js
