// Optional CSS and Fonts
@import "sass/flags";
// END:Optional
// unzip the flags in the images folder
// for using your different flag icons add to imgaes/flags,
// all flags must be named as ISO-2 uppsercase country codes
