<template>
  <ui-page page-title="Panels" animate>
    <style>
      .tab-container {
        position: relative;
        height: 450px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-items: stretch;
      }

    </style>
    <ui-content padded scroll>
      <ui-container>
        <h5 class="section-title">Themes</h5>
        <ui-row>
          <ui-column size="md-6 lg-4" padded>
            <ui-panel>
              <ui-panel-body padded height="7em">
                <h4>Plain Panel<br/><br/></h4>
              </ui-panel-body>
            </ui-panel>
            <br/>
            <ui-panel>
              <ui-header>
                <ui-header-title glyph='icon-line-mail-envelope-closed'>Default Header</ui-header-title>
                <ui-header-tool collapse></ui-header-tool>
                <ui-header-tool close></ui-header-tool>
              </ui-header>
              <ui-panel-body padded minheight="5em">
                <h4>Header Panel</h4>
              </ui-panel-body>
            </ui-panel>
            <br/>
            <ui-panel>
              <ui-header primary>
                <ui-header-title>Primary Header</ui-header-title>
                <ui-header-tool refresh click.trigger="refresh()"></ui-header-tool>
                <ui-header-tool collapse></ui-header-tool>
                <ui-header-tool close></ui-header-tool>
              </ui-header>
              <ui-panel-body padded minheight="5em">
                <h4>Header Panel</h4>
              </ui-panel-body>
              <ui-loader small busy.bind="refreshing"></ui-loader>
            </ui-panel>
          </ui-column>
          <ui-column size="md-6 lg-4" padded>
            <ui-panel expanded.bind="ex">
              <ui-header light>
                <ui-header-title>Light Header</ui-header-title>
                <ui-header-tool expand if.bind="!ex"></ui-header-tool>
                <ui-header-tool restore if.bind="ex"></ui-header-tool>
              </ui-header>
              <ui-panel-body padded minheight="5em">
                <h4>Header Panel</h4>
              </ui-panel-body>
            </ui-panel>
            <br/>
            <ui-panel>
              <ui-header dark>
                <ui-header-title>Dark Header</ui-header-title>
                <ui-dropdown value="2">
                  <ui-list-item value="0">Last 30 Days</ui-list-item>
                  <ui-list-item value="1">Last 60 Days</ui-list-item>
                  <ui-list-item value="2">Last 90 Days</ui-list-item>
                </ui-dropdown>
              </ui-header>
              <ui-panel-body padded minheight="5em">
                <h4>Header Panel</h4>
              </ui-panel-body>
            </ui-panel>
            <br/>
            <ui-panel>
              <ui-header secondary>
                <ui-header-title>Secondary Header</ui-header-title>
                <ui-header-tool collapse></ui-header-tool>
                <ui-header-tool close></ui-header-tool>
              </ui-header>
              <ui-panel-body padded minheight="5em">
                <h4>Header Panel</h4>
              </ui-panel-body>
            </ui-panel>
          </ui-column>
          <ui-column size="md-6 lg-4" padded>
            <ui-panel-group toggle>
              <ui-panel>
                <ui-header light>
                  <ui-header-title>Grouped Panels</ui-header-title>
                  <ui-header-tool collapse></ui-header-tool>
                  <ui-header-tool close></ui-header-tool>
                </ui-header>
                <ui-panel-body padded scroll maxheight="22em">
                  <h4>Header Panel</h4>
                  <compose view="../home/lipsum-small.html"></compose>
                </ui-panel-body>
              </ui-panel>
              <ui-panel collapsed>
                <ui-header dark>
                  <ui-header-title>Grouped Panels</ui-header-title>
                  <ui-header-tool collapse></ui-header-tool>
                  <ui-header-tool close></ui-header-tool>
                </ui-header>
                <ui-panel-body padded scroll maxheight="22em">
                  <h4>Header Panel</h4>
                  <compose view="../home/lipsum-small.html"></compose>
                </ui-panel-body>
              </ui-panel>
              <ui-panel collapsed>
                <ui-header secondary>
                  <ui-header-title>Grouped Panels</ui-header-title>
                  <ui-header-tool collapse></ui-header-tool>
                  <ui-header-tool close></ui-header-tool>
                </ui-header>
                <ui-panel-body padded scroll maxheight="22em">
                  <h4>Header Panel</h4>
                  <compose view="../home/lipsum-small.html"></compose>
                </ui-panel-body>
              </ui-panel>
            </ui-panel-group>
          </ui-column>
        </ui-row>
      </ui-container>
    </ui-content>
  </ui-page>
</template>
