<template>
  <style>
    .tab-container {
      position: relative;
      height: 450px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-items: stretch;
    }

  </style>
  <ui-page page-title="Tab Panels">
    <ui-content padded scroll>
      <ui-container>
        <div class="tab-container">
          <ui-tab-panel active-tab.bind="tabActive" ref="tabPanel">
            <ui-tabbar-start>
              <ui-tabbar-toggle dropdown.bind="btnMenu">
                <ui-glyph glyph="glyph-icon-plus"></ui-glyph>
              </ui-tabbar-toggle>
            </ui-tabbar-start>
            <ui-tab label="Active Tab" padded scroll>
              <compose view="../home/lipsum-big.html"></compose>
            </ui-tab>
            <ui-tab label.bind="tab.label" closeable flex repeat.for="tab of tabs" id.bind="tab.id" beforeclose.call="beforeClose($event)">
              <compose view-model.bind="tab.viewModel"></compose>
            </ui-tab>
          </ui-tab-panel>
        </div>
        <ui-menu ref="btnMenu">
          <ui-menu-section>Actions</ui-menu-section>
          <ui-menu-item click.trigger="addTab()" glyph="icon-moon-pencil2">Editor</ui-menu-item>
          <ui-menu-item glyph="icon-moon-search">Search</ui-menu-item>
          <ui-menu-item glyph="icon-moon-bin">Trash</ui-menu-item>
          <ui-menu-section>Options</ui-menu-section>
          <ui-menu-item glyph="icon-moon-bubbles4">Notifications</ui-menu-item>
          <ui-menu-item glyph="icon-moon-cog">Settings</ui-menu-item>
        </ui-menu>
        <br/><br/>
        <div class="tab-container">
          <ui-tab-panel bottom>
            <ui-tab label="Active Tab" padded scroll>
              <compose view="../home/lipsum-big.html"></compose>
            </ui-tab>
            <ui-tab label="Disabled Tab" disabled="true">
              <compose view="../home/lipsum-big.html"></compose>
            </ui-tab>
            <ui-tab label="Closeable Tab" closeable padded scroll>
              <h4>Closeable Tab</h4>
              <hr/>
              <compose view="../home/lipsum-big.html"></compose>
            </ui-tab>
          </ui-tab-panel>
        </div>
      </ui-container>
    </ui-content>
  </ui-page>
</template>
