<template>
  <ui-page page-title="Gridder Layout" ui-margin="xs">
    <ui-gridder>
      <template repeat.for="cell of colDefs | orderBy:'order'">
        <ui-gridder-cell
          config.one-time="cell"
          label="Panel - ${$index}"
          pinned.one-time="!!cell.pinned"
          moveable.one-time="!!cell.moveable"
          pinnable.one-time="!!cell.pinnable"
          closeable.one-time="!!cell.closeable"
          expandable.one-time="!!cell.expandable"
          resizeable.one-time="!!cell.resizeable"
        >
          <compose view.one-time="cell.view"></compose>
        </ui-gridder-cell>
      </template>
    </ui-gridder>
  </ui-page>
</template>
