<template>
  <style>
    .grid-expand {
      bottom: 1em;
      box-shadow: 0 0 10em #000000;
      left: 1em;
      position: fixed;
      right: 1em;
      top: 1em;
      z-index: 500;
    }
  </style>
  <ui-page page-title="Gridder Test" ui-margin="xs">
    <ui-gridder>
      <ui-gridder-cell
        repeat.for="i of colDefs | orderBy:'order' & oneTime"
        row-span.bind="i.rowSpan"
        col-span.bind="i.colSpan"
        allow-drop.bind="!i.fixed"
        allow-drag.bind="!i.fixed"
        allow-resize.bind="!i.fixed"
      >
        <ui-panel label.bind="!i.fixed ? `Panel ${i.order+1}` : ''" closeable.bind="!i.fixed">
          <ui-header-actions if.bind="!i.fixed">
            <ui-button type="tool" icon="mdi mdi-tune"></ui-button>
            <ui-button type="tool" icon="mdi mdi-refresh"></ui-button>
            <ui-button
              type="tool"
              icon="mdi mdi-arrow-expand"
              click.trigger="toggleExpand($event)"
            ></ui-button>
          </ui-header-actions>
          <ui-content ui-padding="0">
            <div ui-font="d6" ui-align="center">Panel Body<br />${i.order+1}</div>
          </ui-content>
        </ui-panel>
      </ui-gridder-cell>
    </ui-gridder>

    <!-- <div class="ui-gridder" ref="gridder">
      <div class="ui-gridder__container">

        <ui-panel
          class="ui-gridder__cell"
          repeat.for="i of colDefs | orderBy:'order' & oneTime"
          min-width="50px"
          data-index.bind="i.order"
          label.bind="!i.fixed ? `Panel ${i.order+1}` : ''"
          closeable="${!i.fixed}"
          allow-drag="${!i.fixed}"
          data-allow-drop.bind="!i.fixed"
          dragenter.trigger="tempMove($event)"
          startdrag.delegate="startMove($event)"
          enddrag.trigger="finishMove($event)"
        >
          <ui-header-actions if.bind="!i.fixed">
            <ui-button type="tool" icon="mdi mdi-tune"></ui-button>
            <ui-button type="tool" icon="mdi mdi-refresh"></ui-button>
          </ui-header-actions>
          <ui-content ui-padding="xs">
            <div ui-font="d6" ui-align="center">Panel Body<br/>${i.order+1}</div>
          </ui-content>
          <div
            if.bind="!i.fixed"
            slot="panel-footer"
            class="ui-gridder__resize"
            mousedown.trigger="startResize($event)"
          ></div>
        </ui-panel>

        <div class="ui-gridder__ghost" ref="ghost" if.bind="!!dragEl"></div>
      </div>
    </div> -->
  </ui-page>
</template>
